<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_thoughts.css') }}">
{% extends 'base.html' %}
{% block title %}
Add Thoughts
{% endblock %}

{% block content %}
<br>
<form action="/thought/{{anime.id}}/add" class="F" method="POST">
    <div class="form-group text-center">
        <input type="hidden" value="{{anime.id}}" name="anime_id">
        <label for="season">Season:</label><br><br>
        <input class="form-control" type="number" name="seasonNum"><br>
        <label for="episode">Episode:</label><br><br>
        <input class="form-control" type="number" name="episodeNum"><br>
        <label for="thoughts">Thoughts:</label><br><br>
        <textarea class="txtA" name="thoughts" cols="65" rows="15"></textarea>
    </div><br><br>
    <button class="addB">Add New Thought</button>
    </form>
{% endblock %}