<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_thoughts.css') }}">
{% extends 'base.html' %}
{% block title %}
Add Thoughts
{% endblock %}

{% block content %}
<br>
<form action="" class="F" method="POST">
    <div class="form-group text-center">
        <label for="season">Season:</label><br><br>
        <input class="form-control" type="number" name="current_season"><br>
        <label for="episode">Episode:</label><br><br>
        <input class="form-control" type="number" name="episode"><br>
        <label for="thought">Thoughts:</label><br><br>
        <textarea class="txtA" name="thought" cols="65" rows="15"></textarea>
    </div><br><br>
    <button class="addB">Add New Thought</button>
    </form>
{% endblock %}