{% extends 'base.html' %}
{% block title %}
Add Thoughts
{% endblock %}

{% block content %}
<br>
<form action="" class="mx-auto" method="POST">
    <div class="form-group text-center">
        <label for="season">Season:</label><br><br>
        <input class="form-control" type="number" name="current_season"><br>
        <label for="episode">Episode:</label><br><br>
        <input class="form-control" type="number" name="episode"><br>
        <label for="thought">Thoughts:</label><br><br>
        <textarea class="form-control" name="thought" cols="24" rows="5"></textarea>
    </div><br><br>
    <button class="btn btn-warning btn-sm  form-control">Add New Thought</button>
    </form>
{% endblock %}