<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_thoughts.css') }}">
{% extends 'base.html' %}
{% block title %}
Edit thoughts
{% endblock %}

{% block content %}
<br>
<form action="" class="F" method="POST">
    <div class="form-group text-center">
        <label for="thought">Thoughts:</label><br><br>
        <textarea class="txtA" name="thought" cols="65" rows="15"></textarea>
    </div>
    <button class="editB">Edit Thought</button>
    </form>
{% endblock %}