{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<form action="/login" class="col-6 mx-auto form-group text-center" method="POST">
    <section>
        <label for="email">Email:</label><br><br>
        <input class="form-control" type="email" name="email">
    </section><br>
    <section>
        <label for="password">Password:</label><br><br>
        <input class="form-control" type="password" name="password">
    </section><br><br>
    <button class="btn btn-warning my-2 form-control">Login</button>
    </form>
{% endblock %}