<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container2">
    <form action="/login" class="F" method="POST">
        <section>
            <label for="email">Email:</label><br><br>
            <input class="form-control" type="email" name="email">
        </section><br>
        <section>
            <label for="password">Password:</label><br><br>
            <input class="form-control" type="password" name="password">
        </section><br><br>
        <button class="loginB">Login</button>
    </form>
</div>
{% endblock %}