@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0px, auto;
}

.navbar {
    padding: 15px;
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 100px; */
    align-content: flex-end;
    /* width: 100%; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'VT323', monospace;
}

.flower {
    background-image: url("/static/img/PngItem_1048766.png");
    height: 40px;
    width: 40px;
}

.navIcon {
    /* background-color: rgb(248, 134, 184); */
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    /* padding: 30px; */
}

.logB {
    border: solid 2px rgb(255, 0, 0);
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    display: table;
    box-shadow: 1px rgb(3, 3, 3);
    border-radius: 15px;
    color: rgb(255, 0, 0);
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
}

.liB {
    /* border: solid 2px black; */
    display: table;
    box-shadow: 1px rgb(3, 3, 3);
    /* border-radius: 15px; */
    color: black;
    width: 51px;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 3px;
}

a {
    /* border: solid 2px rgb(0, 0, 0);
    border-radius: 15px; */
    display: table;
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
}

.GenB {
    border: solid 2px rgb(255, 255, 255);
    display: table;
    background-color: rgb(41, 35, 35);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
}

.body {
    background-image: url("/static/img/CherryBlossomRain.gif");
    background-repeat: no-repeat;
    background-size: 1542px, 155px;
    z-index: 1;
    
}

.container {
    /* margin: auto; */
    height: 100%;
    /* width: 50%; */
    /* padding: 10px; */
} 