@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

*{
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0px, auto;
}

.navbar {
    padding: 15px;
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 100px; */
    align-content: flex-end;
    /* width: 100%; */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Baloo Paaji 2', cursive;
}

.navIcon {
    /* background-color: rgb(248, 134, 184); */
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    /* padding: 30px; */
}

.logB {
    border: solid 2px rgb(255, 0, 0);
    display: table;
    box-shadow: 1px rgb(3, 3, 3);
    border-radius: 15px;
    color: rgb(255, 0, 0);
    width: 51px;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
}

.liB {
    border: solid 2px rgb(255, 255, 255);
    display: table;
    box-shadow: 1px rgb(3, 3, 3);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: 51px;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 3px;
}

a {
    border: solid 2px rgb(255, 255, 255);
    display: table;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
}

.GenB {
    border: solid 2px rgb(255, 255, 255);
    display: table;
    background-color: rgb(41, 35, 35);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-style: italic;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
}

.body {
    background-image: url("/static/img/CherryBlossomRain.gif");
    background-repeat: no-repeat;
    background-size: 1542px, 155px;
    height: 797px;
}

.container {
    margin: auto;
    /* width: 50%; */
    padding: 10px;
} 